# Dependencies
node_modules

# Build output
dist
dist-ssr

# TypeScript
*.tsbuildinfo

# Vite
.vite

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea

# OS
.DS_Store
Thumbs.db

# PWA
dev-dist
sw.js
workbox-*.js
